* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #212529;
  }

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 60px;
    font-family: "hack", monospace;
    font-size: 21px;
    font-weight: 400;
    font-style: bold;
}


.container {
  max-width: 1800px;
  width: 95%;
}

.wrapper {
  position: relative;
}

.wrapper .image-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 6px;
  font-size: 0;
  list-style: none;
  margin-bottom: 6px;
  overflow: auto;
  scrollbar-width: none;
}

.wrapper .image-list:-webkit-scrollbar {
  display: none;
}

.wrapper .image-list .image-item {
  height: 600px;
  object-fit: contain;
}


.container .scrollbar {
  height: 33px;
  width: 100%;
  display: flex;
  align-items: center;
}

.scrollbar .scrollbar-track {
    background: #495057;
    width: 100%;
    height: 5px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    position: relative;
}


.scrollbar .scrollbar-thumb {
  position: absolute;
  background: #37b24d;
  top: 0;
  bottom: 0;
  width: 7%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}

.scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 13px;
  top: -4px;
}
.scrollbar .scrollbar-thumb:hover {
  cursor: grabbing;
  height: 13px;
  top: -4px;
}

.scrollbar .scrollbar-thumb:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

/* Styles for mobile and tablets */
@media only screen and (max-width: 1023px) {


  .wrapper .image-list {
    gap: 6px;
    margin-bottom: 6x;
    scroll-snap-type: x mandatory;
  }

  .wrapper .image-list .image-item {
    height: 380px;
  }

  .scrollbar .scrollbar-thumb {
    width: 20%;
  }
}
